{% extends 'base.html' %}
{% load static %}

{% block title %} {{ labels.showcase_header }} — {{ labels.shop }} {% endblock %}

{% block content %}
<!-- showcase header section -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ labels.showcase_header }}</h1>
            <p class="lead text-body-secondary">{{ labels.showcase_description }}</p>
        </div>
    </div>
</section>
<!-- showcase cards section -->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for flower in flowers %}
                {% include 'includes/flower_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
